<section class="main">
    <input id="toggle-all" class="toggle-all" type="checkbox">
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">

        <app-item></app-item>
        <li>
            <div class="view">
                <input class="toggle" type="checkbox">
                <label>Watch a Marvel movie</label>
                <button class="destroy"></button>
            </div>
            <input class="edit" value="Rule the web">
        </li>
    </ul>
</section>