<footer class="footer">
    <span class="todo-count"><strong>{{pending}}</strong> pending<span *ngIf="pending !==1">s</span> </span>
    <ul class="filters">
        <li>
            <a (click)="setfilters('all')" class="filtro" [class.selected]="filter === 'all'" routerLink="/todo/all">All</a>
        </li>
        <li>
            <a (click)="setfilters('pending')" class="filtro" [class.selected]="filter === 'pending'" routerLink="/todo/pending">Pendings</a>
        </li>
        <li>
            <a (click)="setfilters('completed')" class="filtro" [class.selected]="filter === 'completed'" routerLink="/todo/completed">Completed</a>
        </li>
    </ul>
    <button *ngIf="completed !== 0" (click)="clearCompleted()" class="clear-completed">clear Completed</button>
</footer>