<footer class="footer">
    <span class="todo-count"><strong>{{pending}}</strong> pending<span *ngIf="pending !==1">s</span> </span>
    <ul class="filters">
        <li>
            <a (click)="setfilter('all')" class="selected filtro" class="selected" routerLink="/home/all">All</a>
        </li>
        <li>
            <a (click)="setfilter('pending')" class="filtro" routerLink="/home/pending">Pendings</a>
        </li>
        <li>
            <a (click)="setfilter('completed')" class="filtro" routerLink="/home/completed">Completed</a>
        </li>
    </ul>
    <button (click)="clearCompleted()" class="clear-completed">clear Completed</button>
</footer>